body{
  background-image: url('https://res.cloudinary.com/techling/image/upload/v1640455160/andras-vas-Bd7gNnWJBkU-unsplash_r8ohw8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.container_main{
  /* margin:100px; */
    
      /* align-items: flex-end; */

}
.columncontainer{
  
  background-color:rgba(192, 192, 192, 0.479);
  color:white;
}
.headingSections{
  padding-left: 30px;
  padding-right: 30px;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
margin-top: 40px;
}
.headingSections h1{
  font-size:32px;
  font-family: 'Courier New', Courier, monospace;
  
}
.headingModal{
  font-size:32px;
  font-family: 'Courier New', Courier, monospace;
}
.MoviesListContainer{
  padding:30px;
}

.TableHeadingRow{
  color:white;
}
.tableRow{
  background-color: white;
  border-radius: 10px!important;
  padding-top: 110px!important;
}
.tableRow td{
  margin-top: 10px!important;
}

.tablelistHeadingContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

  /* background-color: white; */
  border-radius: 4px!important;
  color:white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid white;
  /* border-left:none; */
}


.listInsideContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
  background-color: white;
  border-radius: 4px!important;
  color:black;
  margin-top: 10px;
}
.editicondesign{
  color:green;
  padding-right: 10px;
  font-size: 33px;
  
}
.editicondesign:hover{
  cursor: pointer;
}
.deleteiconDesign:hover{
  cursor: pointer;
}
.deleteiconDesign{
  color:rgb(219, 10, 10);
  font-size: 27px;
}
.btnAddMovie{
  outline: none!important;
  padding-left:30px !important;
  padding-right:30px !important;

  border: none !important;;
  background-color: rgba(255, 123, 0, 0.623)!important;
}
.btnAddMovie:hover{
  background-color: rgba(255, 255, 255, 0.739)!important;
  color:black!important;
  transition: 0.7s;
  
}

.headingDelete{
  font-family: 'Courier New', Courier, monospace;
  font-size:20px;
  text-align: center;
}
.btnsDeletepopup{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.noDelete{
  background-color: rgb(223, 9, 9)!important;
  outline: none !important;
  padding-left:30px !important;
  padding-right: 30px !important;
  border: 1px solid transparent !important;
  
}
.noDelete:hover{
  border:1px solid rgb(223, 9, 9) !important;
  background-color: white !important;
  transition: 0.8s;
  color: rgb(223, 9, 9) !important;

}

.yesDelete{
  background-color: rgba(255, 123, 0, 0.986)!important;
  outline: none !important;
  padding-left:30px !important;
  padding-right: 30px !important;
  border: 1px solid transparent !important;
  
}
.yesDelete:hover{
  border:1px solid rgba(255, 123, 0, 0.986) !important;
  background-color: white !important;
  transition: 0.8s;
  color: rgba(255, 123, 0, 0.986) !important;

}
.addBtn{
  background-color: rgba(34, 168, 0, 0.986)!important;
  outline: none !important;
  padding-left:30px !important;
  padding-right: 30px !important;
  border: 1px solid transparent !important;
  
}
.addBtn:hover{
  border:1px solid rgba(34, 168, 0, 0.986) !important;
  background-color: white !important;
  transition: 0.8s;
  color: rgba(34, 168, 0, 0.986) !important;

}