$primary-color:white;
$text-color:white;
$container-color:rgba(192, 192, 192, 0.479);
$green_color: green;
$light_greenColor: rgba(34, 168, 0, 0.986);
$black_color: black;
$danger_color:rgb(219, 10, 10);
$orange_color:rgba(255, 123, 0, 0.986);
$delete_confirmColor:rgb(223, 9, 9);
$heading_font: 32px;
$subheading_font: 27px;
$large_text20:20px;
$text_font: 18px;
$font_family: 'Courier New', Courier, monospace;
$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold' : 700
);
